<ion-view  class="bg">
<ion-nav-view animation="slide-left-right" hide-nav-bar="true"></ion-nav-view>
<ion-content style="padding-top:15px">

<div style="text-align: center;">
  <img src="img/logo.png" alt="logo" style="width: 12%">
</div>

  <form name="LoginForm" novalidate>
      <div class="row">
        <label class="item item-input item-floating-label">
          <span class="input-label"> Username </span>
          <input ng-model="formdata.email" name="email" type="email" validate-email class="cust-input" required placeholder="Email" force-lowercase>
           <p ng-show="LoginForm.email.$invalid && LoginForm.email.$dirty" class="input_error_msg">Enter your email</p>
        </label> 
     </div>

        <div class="padding">
            <button ng-click="getResetLink()" style="background: #ffffff; color: #01b084"  ng-disabled="LoginForm.$invalid" class="button button-full button-balanced rounded-button">Get Reset Link</button>
        </div>
</form>
       
    </ion-content>
</ion-view>